﻿<h1 class="title">Proč koupit ojet&yacute; vůz v Pixel Cars?</h1>
<p>Co je pro v&aacute;s při <strong>koupi ojet&eacute;ho vozidla</strong> skutečně důležit&eacute;? Pravděpodobně je to spolehlivost, f&eacute;rov&yacute; př&iacute;stup prodejce, prověřen&iacute; ojet&eacute;ho automobilu. Takov&yacute; servis v&aacute;m poskytujeme jen v tom <strong>nejlepším</strong> autobazaru!</p>
<p>V&nbsp;<strong>autobazaru Pixel Cars</strong> zaji&scaron;ťujeme</p>
<ul>
    <li style="margin-left: 26pt;">Prověřen&iacute; původu ojet&eacute;ho vozu</li>
    <li style="margin-left: 26pt;">Kontrola skutečn&eacute;ho stavu tachometru</li>
    <li style="margin-left: 26pt;">Prověřen&iacute;, zda na ojet&yacute; vůz nen&iacute; exekuce</li>
    <li style="margin-left: 26pt;">Kontrola, zda se nejedn&aacute; o kraden&yacute; vůz</li>
    <li style="margin-left: 26pt;">V&yacute;hodn&eacute; financov&aacute;n&iacute; vozů (leasing, půjčka apod.)</li>
</ul>
<p>V&nbsp;pobočk&aacute;ch autobazaru Pixel Cars se v&aacute;m budou věnovat vstř&iacute;cn&iacute; odborn&iacute;ci, kteř&iacute; jsou ochotni pravdivě odpovědět na va&scaron;e dotazy a pomoci v&aacute;m s&nbsp;v&yacute;běrem vozu.</p>
<p><strong><em>&bdquo;Otevřeno m&aacute;me každ&yacute; den od 09:00 &ndash; 21:00 hodin včetně v&iacute;kendů a sv&aacute;tků.&ldquo;</em></strong></p>
<p>&nbsp;</p>
<h2>Pixel CARS - to jsou kvalitn&iacute; ojet&eacute; vozy</h2>
<p>90 % vozů v&nbsp;nab&iacute;dce <b>autobazaru Pixel Cars je po prvn&iacute;m majiteli</b> a tyto automobily maj&iacute; servisn&iacute; historii. V&scaron;echny ojet&eacute; vozy proch&aacute;zej&iacute; důkladnou <b>předprodejn&iacute; prohl&iacute;dkou</b> a profesion&aacute;ln&iacute; př&iacute;pravou vozu k&nbsp;prodeji.</p>
<p>&nbsp;</p>
<h2>Prověřen&iacute; původu vozů</h2>
<p>100 % vozů v&nbsp;v&nbsp;nab&iacute;dce autobazaru Pixel Cars proch&aacute;z&iacute; prověřen&iacute;m původ automobilu. M&aacute;te tak jistotu, že nekupujete kraden&yacute; vůz nebo automobil s&nbsp;pochybn&yacute;m původem.&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<h2>Garance kontroly najet&yacute;ch kilometrů</h2>
<p>Ž&aacute;dn&eacute; obavy z&nbsp;přetočen&yacute;ch kilometrů! U v&scaron;ech <b>ojet&yacute;ch vozů</b> v nab&iacute;dce prov&aacute;d&iacute;me kontrolu stavu najet&yacute;ch kilometrů. Vyd&aacute;v&aacute;me profesion&aacute;ln&iacute; a důvěryhodn&eacute; ověřen&iacute; &ndash; CEBIA report.</p>
<p>&nbsp;&nbsp;</p>
<h2>Ž&aacute;dn&eacute; skryt&eacute; poplatky při koupi vozu</h2>
<p>Ne&uacute;čtujeme ž&aacute;dn&eacute; administrativn&iacute; ani jin&eacute; skryt&eacute; poplatky. Zaplat&iacute;te pouze za to, co si koup&iacute;te!</p>
<p>&nbsp;</p>
<h2>Rychl&eacute; vyř&iacute;zen&iacute; formalit při n&aacute;kupu vozu</h2>
<p>Obvykle u n&aacute;s vyř&iacute;zen&iacute; v&scaron;ech formalit spojen&yacute;ch s&nbsp;n&aacute;kupem ojet&eacute;ho automobilu trv&aacute; do 60 minut. Pot&eacute; ihned můžete odjet va&scaron;&iacute;m nov&yacute;m vozem.</p>
<p>&nbsp;</p>
<h2>Poradenstv&iacute; - v&yacute;běr ojet&eacute;ho automobilu</h2>
<p>Na&scaron;i profesion&aacute;lně vy&scaron;kolen&iacute; prodejci a poradci pomohou vybrat optim&aacute;ln&iacute; vůz a &nbsp;produkt přesně vyhovuj&iacute;c&iacute; va&scaron;im potřeb&aacute;m, porovnaj&iacute; vybran&eacute; vozy a &nbsp;podm&iacute;nky financov&aacute;n&iacute; a poji&scaron;těn&iacute;, sděl&iacute; v&yacute;hody dan&eacute;ho ře&scaron;en&iacute;.</p>
<p>&nbsp;&nbsp;</p>
<h2>Financov&aacute;n&iacute; vozu</h2>
<p>Spolupracujeme s&nbsp;nejv&yacute;znamněj&scaron;&iacute;mi společnostmi v&nbsp;oblasti <b>financov&aacute;n&iacute; z&aacute;novn&iacute;ch vozů,</b> a to společnostmi S&nbsp;autoleasing, GE money, Cetelem a Home Credit. D&iacute;ky nadstandardn&iacute;m podm&iacute;nk&aacute;m jsme v&aacute;m schopni zajistit financov&aacute;n&iacute; v&yacute;hodněji než v&nbsp;bance!</p>
