﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PIXEL cars - Vaše prodejna</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@Url.Content("~/Content/business-casual.css")" rel="stylesheet">

</head>

<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">PIXEL cars</span>

    <span class="site-heading-upper text-primary m-3">Vaše prodejna automobilů</span>

</h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Automobily</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4 @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Home")">
                            Hlavní stránka
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4 @(ViewContext.RouteData.Values["Controller"].ToString() == "Cars" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Cars")">Chci koupit Auto</a>
                    </li>
                    <li class="nav-item px-lg-4 @(ViewContext.RouteData.Values["Controller"].ToString() == "About" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "About")">O nás</a>
                    </li>
                    <li class="nav-item px-lg-4 @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact" ? "active" : "")">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Contact")">Kontakty</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="#">Přihlásit/Registrovat se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="main">
             
        
        <section class="page-section cta col-xl-9 mx-auto rounded">
            <div class="container">
                <div class="row">
                    <div class="mx-auto col-12">
                        <div class="cta-inner rounded">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">&copy; Pixel Cars 2018</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

</body>

</html>
